@model List<PuntoFisicoModel>

@{
    ViewData["Title"] = "EleccionPuntoFisico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Elija un punto de donación:</h2>
    <br>
</div>
<div class="container text-center">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {   
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            <h4 class="card-title">Nombre punto: @item.nom_ptofisico</h4>
                            <input asp-for="@item.cod_ptofisico" type="hidden" class="form-control">
                            <p class="card-text">Dirección: @item.direccion_ptofisico</p>
                            <p class="card-text">Ciudad: @item.fk_codciudad</p>
                            <p class="card-text">Campaña: @item.fk_codcampana</p>
                            <br>
                            <button type="submit" name="accion" value="elejir" class="btn btn-primary">Elejir</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
